*{
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

html,body{
  height: 100%;
}

/** Divs Gerais **/
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
 
}

.clear{
  clear: both;
}

/*****************/

header{
  background-color:rgb(180,180,180);
  padding:10px 2% 40px 2%;
}



.logo2{
  float:right;
  width: 150px;
  height: 70px;
  background-image: url(../imagens/logo2.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

section.cover-form{
  width: 100%;
  padding: 0 2%

}

.bg{
  background-image: url(../imagens/bg-form.jpg);
  height: 560px;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
}


.form-container{
  position: absolute;
  right: 20px;
  top:-2.5%;
  width: 400px;
  height: 105%;
  background-color:white;
  box-shadow: 1px 1px 3px 1px rgb(180,180, 180);
}



.form-container h2{
  background-color: rgb(210,210,210);
  color:black;
  padding: 25px 15px;
  font-size:18px;
  font-weight: normal;
  line-height: 28px;
  text-transform: uppercase;
}

.form-wraper:not(:first-child){

  margin-top:40px;
}

.form-wraper:last-child{
  margin-top:20px;
}
.form-container form {
  margin-top: 8px;
  padding:15px;
}

.form-container form label{
  font-size: 14px;
  line-height: 24px;
  color:#525252;

}


.form-container form input[type=text],input[type=email], input[type=tel]{
  width: 100%;
  border:1px solid #ccc;
  height: 45px;
  line-height: 55px;
  padding-left:4px;
}


.form-container form input[type=submit]{
  background-color:#033C50;
  width: 100%;
  height: 50px;
  font-size:25px;
  text-transform: uppercase;
  color:white;
  border: none;
  padding:10px;
}

.form-container form input[type=submit]:hover{
  cursor:pointer;
  filter:brightness(95%);
  border-bottom: 4px solid rgb(1, 38, 51);;

}

section.chamada{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding:70px 20px 30px 20px;
  text-align: center;
  background-color: rgb(42, 104, 155);
}


section.chamada h2{
  display: block;
  color:white;
  font-size:30px;
  line-height: 40px;
  font-weight: normal;

}

section.chamada p{
  margin-top:20px;
  font-size:20px;
  line-height: 30px;
  color:white;

}


.flex-mosaico{
  
  display:flex;


}

.item-1-mosaico{
  width: 60%;
  background-position: center;
  background-size:cover;
  

  
}

.item-2-mosaico{
  background-color:#4683AB;
  padding: 40px;
  width: 40%;
}


.item-2-mosaico p{
  font-size:18px;
  line-height: 28px;
  color:white;
  
}

.img2{
  order: 2;
}

.texto2{
  order:1;
}

.footer{
  background-color: rgb(180,180, 180);
  padding: 10px;
  text-align: center;
}

.logo{
  width: 150px;
  height: 70px;
  background-image: url(../imagens/logo1.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
}

.footer p{
  margin-bottom: 8px;
  font-size:18px;
  line-height: 28px;
}

@media screen and (max-width:510px){

    header{
      text-align: center;
      
    }

   [class^="logo"]{
     margin-top:10px;
     display: inline-block;
     float: none;
   }
}

@media screen and (max-width:960px){

    .bg{
      height: auto;
      padding:40px 0;
      text-align: center;
    }

    .form-container{
      height: auto;
      width:96%;
      max-width: 400px;
      position: static;
      display: inline-block;
    }
}

@media screen and (max-width:768px){

      .flex-mosaico{
        display: block;
      }
      .item-1-mosaico{
        height: 400px;
        width: 100%;
      }

      .item-2-mosaico{
        text-align: justify;
        width: 100%;
      }
}